
.booking-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    
  }
  
  .vehicle-details {
    margin-bottom: 20px;
  }
  
  .booking-form {
    display: flex;
    flex-direction: column;
  }
  
  .booking-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .booking-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .booking-form button:hover {
    background-color: #0056b3;
  }
  .booking-page {
    text-align: center;
  }
  
  .vehicle-image {
    max-width: 100%;
    height: auto;
  }